{% if id == -2 %}
    <div name='notifications'>
        {% if notifications %}
            <ul>
                {% for notification in notifications %}
                    ID: {{ notification["id"] }}
                    <pre>   <li>Message: {{notification["message"]}}</li></pre>
                    <pre>   <li>Timestamp: {{notification["time"]}}</li></pre>
                    <br>
                {% endfor %}
            </ul>
        {% endif %}
        </p>
    </div>
{% else %}
    {{notifications}}
{% endif %}